.internatePage {
  width: 100%;
  header {
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
  }
  main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    button {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #3370ff;
      border: thin solid #1c4fdb;
      img {
        height: 40px;
        width: 40px;
      }
      span {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}
