.mainContent {
  width: 60%;
  margin: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  .action {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    span {
      font-weight: bold;
    }
  }
  .divide {
    height: 2px;
    width: 100%;
    background-color: #f6f7f9;
  }
  .setting {
    margin: 10px;
    display: flex;
    justify-content: center;
    span {
      color: #67707e;
      font-weight: bold;
    }
  }
}

.tmp {
  width: 60%;
  margin: 30px;
  padding: 20px;
  height: 300px;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: scroll;
}
